
<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class=" text-center justify">
          <h1>Welcome to Examportal</h1>
          <div  style="font-family: 'Times New Roman', Times, serif; font-size: large;text-align: justify;">
          <mat-card>
            Hi there!
We are developer of this Quiz platform. We are welcoming you on our site.
We are very glad to see you here. <strong>we appreciate your choice</strong> that you gave us a chance to prepare Quiz and Questions for you.
There’s just one more tiny step you need to take to achieve all these amazing things:
If you are new here then go to Register link button, otherwie go to Login button and start your quiz attempt. There are various category of Quizes and Subject that may help you.
          </mat-card>
        </div>
        </div>
      </div>
      <div class="text-center col-md-6 offset-md-3 ">
        <button class="mt-3" mat-raised-button color="primary" routerLink="login">Login</button>
        <button class="mt-3" style="margin-left: 10px;" mat-raised-button color="primary" routerLink="signup">Register</button>
      </div>
    </div>
  </div>
  